{{ partial "header.html" . }}

<article class="post">
    <header class="header">
        <h1>{{ .Title }}</h1>
        <h2>{{ .Description }}</h2>
    </header>

    <section class="content">
        {{ partial "post_meta.html" . }}
        {{ .Content }}
    </section>

    <footer class="footer">
        {{ with .PrevInSection }}
            <a class="older" href="{{ .Permalink }}">« {{ .Title }}</a>
        {{ end }}
        {{ with .NextInSection }}
            <a class="newer" href="{{ .Permalink }}">{{ .Title }} »</a>
        {{ end }}

        <div style="clear: both"></div>
    </footer>
</article>

{{ partial "footer.html" . }}
