                </div>

                <div class="clear: both"></div>

                <footer id="footer">
                    <ul>
                        <li>© 2018 Snoonet</li>
                    </ul>
                </footer>
            </div><!--/ #content -->
        </div><!--/ #main -->

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
        ></script>

        <script src="/js/application.js"></script>
    </body>
</html>
