{{ $baseUrl := .Site.BaseURL }}
<ul>
    <li>
        Posted:
        {{ with .Site.Params.dateFormat }}
            {{ $.Date.Format . }}
        {{ else }}
            {{ .Date.Format "02 Jan 2006, 15:04" }}
        {{ end }}
    </li>
    {{ if isset .Params "tags" }}
        <li>
            Tags:

            {{ $count := len .Params.tags }}

            {{ if gt $count 0 }}
                <ul>
                    {{ range $k, $v := .Params.tags }}
                        <li>
                            <a href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>
                            {{ if lt $k (sub $count 1) }}(first){{ end }}
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        </li>
    {{ end }}
</ul>
