{{ define "main" }}
    <article class="post">
        <header class="inline-header">
            <h2>Staff</h2>
        </header>

        <section class="content">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Favorite Channels</th>
                    </tr>
                </thead>
                <tbody>
                    {{/*
                        Pin top 3 staff members (i.e. founders and directors),
                        bottom pin alumni, and alphabetically sort the rest.
                    */}}

                    {{ range (where .Pages "Params.kind" "staff_top").ByWeight }}
                        {{ partial "staff_row.html" . }}
                    {{ end }}

                    {{ range (where .Pages "Params.kind" "staff").ByTitle }}
                        {{ partial "staff_row.html" . }}
                    {{ end }}

                    {{ range (where .Pages "Params.kind" "staff_alumni").ByWeight }}
                        {{ partial "staff_row.html" . }}
                    {{ end }}
                </tbody>
            </table>
        </section>

        <footer class="footer">
            {{ partial "back_to_top.html" . }}
        </footer>
    </article>
{{ end }}
