{{ partial "header" . }}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Favorite Channels</th>
        </tr>
    </thead>
    <tbody>
        {{/* Sort by the "priority" parameter set in staff page's front matter */}}

        {{ range sort .Pages "Params.priority" "asc" }}
            <tr>
                {{/* The "override_url" parameter is used first, so an external link can be used */}}

                <td>
                    {{ if not .Params.no_link }}
                        <a href="{{ or .Params.override_url .RelPermalink }}">{{ .Title }}</a>
                    {{ else }}
                        {{ .Title }}
                    {{ end }}
                </td>
                <td>{{ .Params.role }}</td>
                <td>{{ .Params.favorite_channels }}</td>
            </tr>
        {{ end }}
</table>

{{ partial "footer" . }}
