{{ define "main" }}
    <article class="post">
        <header class="inline-header">
            <h2>
                <span class="h2-primary">
                    {{ partial "channel_link.html" . }}
                </span>

                <span class="h2-secondary">
                    {{ if .Params.subreddit }}
                        {{ partial "subreddit_link.html" . }}
                    {{ else if .Params.subreddits }}
                        {{ partial "multi_subreddit_link.html" . }}
                    {{ end }}
                </span>
            </h2>
        </header>

        <section class="content">
            {{ .Content }}
        </section>
    </article>
{{ end }}
