{{ partial "header.html" . }}

<article class="post not-found">
    <header class="header">
        <h1>404: file not found.</h1>
    </header>

    <section class="content not-found">
        <p>The page you are looking for couldn't be found.</p>

        <img src="/images/fu.png">

        <p>You may have mistyped the address, or we might have moved or deleted the page.</p>
    </section>

    <footer class="footer">
        <div class="clearfix"></div>
    </footer>
</article>

{{ partial "footer.html" . }}
